startup --output_user_root=D:/bazel-output
build --action_env=C_INCLUDE_PATH=D:/Hilbert/usr/include;D:/Hilbert/usr/include/pe;D:/Hilbert/usr/include/flint
build --action_env=LIBRARY_PATH=D:/Hilbert/usr/lib
